body {
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.todo-list {
  width: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgb(148, 148, 148);
}

.title {
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.title p {
  padding-left: 10px;
  font-size: 20px;
  margin: 1px;
}

.input-section {
  height: 35px;
  width: 100%;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.todo-input {
  width: 90%;
  height: 90%;
  border: transparent;
  padding-left: 10px;
  font-style: italic;
}

.lists {
  border-bottom: 1px solid rgb(196, 196, 196);
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.list:hover {
  background-color: #edac1f;
}

.list:hover .desc {
  background-color: #edac1f;
}

.list p {
  margin: 1px;
}

.li-div {
  display: flex;
}

#btn {
  background-color: lightgrey;
  border: transparent;
  height: 30px;
  width: 100%;
}

.draggable {
  cursor: move;
}

.line {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.fa {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 200px;
  position: relative;
}

.d-flex {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}

ul > * {
  list-style: none;
}

.container {
  width: 40rem;
  box-shadow: 5px 5px 11px 1px rgba(151, 151, 151, 0.63);
}

i::before {
  font-size: 1.5rem;
  color: rgba(146, 146, 146, 0.664);
}

.container > *,
.task-list > * {
  border-bottom: 1px solid rgba(228, 228, 228, 0.664);
}

#form {
  padding: 1.5rem 4%;
  justify-content: space-between;
}

#input {
  background: transparent;
  border: none;
}

::placeholder {
  font-style: italic;
  font-size: 1.3rem;
}

.header {
  padding: 1.5rem 4%;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.item {
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.item .task p {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.item .task p:focus {
  outline: none;
}

.task {
  align-items: center;
}

form input {
  min-width: calc(100% - 30px);
  line-height: 24px;
  height: 35px;
  outline: none;
}

form button {
  border: 0 solid transparent;
  background: #fff;
}

.task-complete {
  color: dodgerblue !important;
}

i {
  cursor: pointer;
}

.linethrough {
  text-decoration: line-through;
  font-style: italic;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  cursor: pointer;
  font-size: large;
  padding-top: 25px;
  position: relative;
>>>>>>> 85059d766a7444b289620405f535d1e298412df2
}
